<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>La mayoría de funcionalidades de la API de Nodepop requieren usar un cliente que permita realizar llamadas de tipo POST. Te recomendamos usar una aplicación como PostMan para realizar pruebas.</p>
    <p>Consulta el archivo readme.md para obtener información sobre como usar la API.</p>
  </body>
</html>
